doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A historical examination of seat-votes curves and partisan bias, symmetry, and responsiveness, from 2000 - 2016.")
    meta(name = "author" content = "Jeffrey Shen")
    title Exploring the Seats-Votes Curve
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    #wrapper 
      -var states = [{"name": "Alabama", "abbrev": "AL", "numDistricts": 7},{"name": "Alaska", "abbrev": "AK", "numDistricts": 1},{"name": "Arizona", "abbrev": "AZ", "numDistricts": 9},{"name": "Arkansas", "abbrev": "AR", "numDistricts": 4},{"name": "California", "abbrev": "CA", "numDistricts": 53},{"name": "Colorado", "abbrev": "CO", "numDistricts": 7},{"name": "Connecticut", "abbrev": "CT", "numDistricts": 5},{"name": "Delaware", "abbrev": "DE", "numDistricts": 1},{"name": "Florida", "abbrev": "FL", "numDistricts": 27},{"name": "Georgia", "abbrev": "GA", "numDistricts": 14},{"name": "Hawaii", "abbrev": "HI", "numDistricts": 1},{"name": "Idaho", "abbrev": "ID", "numDistricts": 2},{"name": "Illinois", "abbrev": "IL", "numDistricts": 18},{"name": "Indiana", "abbrev": "IN", "numDistricts": 9},{"name": "Iowa", "abbrev": "IA", "numDistricts": 4},{"name": "Kansas", "abbrev": "KS", "numDistricts": 4},{"name": "Kentucky", "abbrev": "KY", "numDistricts": 5},{"name": "Louisiana", "abbrev": "LA", "numDistricts": 6},{"name": "Maine", "abbrev": "ME", "numDistricts": 2},{"name": "Maryland", "abbrev": "MD", "numDistricts": 8},{"name": "Massachusetts", "abbrev": "MA", "numDistricts": 9},{"name": "Michigan", "abbrev": "MI", "numDistricts": 14},{"name": "Minnesota", "abbrev": "MN", "numDistricts": 8},{"name": "Mississippi", "abbrev": "MS", "numDistricts": 4},{"name": "Missouri", "abbrev": "MO", "numDistricts": 8},{"name": "Montana", "abbrev": "MT", "numDistricts": 1},{"name": "Nebraska", "abbrev": "NE", "numDistricts": 3},{"name": "Nevada", "abbrev": "NV", "numDistricts": 4},{"name": "New Hampshire", "abbrev": "NH", "numDistricts": 2},{"name": "New Jersey", "abbrev": "NJ", "numDistricts": 12},{"name": "New Mexico", "abbrev": "NM", "numDistricts": 3},{"name": "New York", "abbrev": "NY", "numDistricts": 27},{"name": "North Carolina", "abbrev": "NC", "numDistricts": 13},{"name": "North Dakota", "abbrev": "ND", "numDistricts": 1},{"name": "Ohio", "abbrev": "OH", "numDistricts": 16},{"name": "Oklahoma", "abbrev": "OK", "numDistricts": 5},{"name": "Oregon", "abbrev": "OR", "numDistricts": 5},{"name": "Pennsylvania", "abbrev": "PA", "numDistricts": 18},{"name": "Rhode Island", "abbrev": "RI", "numDistricts": 2},{"name": "South Carolina", "abbrev": "SC", "numDistricts": 17},{"name": "South Dakota", "abbrev": "SD", "numDistricts": 1},{"name": "Tennessee", "abbrev": "TN", "numDistricts": 9},{"name": "Texas", "abbrev": "TX", "numDistricts": 36},{"name": "Utah", "abbrev": "UT", "numDistricts": 4},{"name": "Vermont", "abbrev": "VT", "numDistricts": 1},{"name": "Virginia", "abbrev": "VA", "numDistricts": 11},{"name": "Washington", "abbrev": "WA", "numDistricts": 10},{"name": "West Virginia", "abbrev": "WV", "numDistricts": 3},{"name": "Wisconsin", "abbrev": "WI", "numDistricts": 8},{"name": "Wyoming", "abbrev": "WY", "numDistricts": 1}]
      -var years = ["2016","2014","2012","2010","2008","2006","2004","2002","2000"]

      header
        .overlay
        center 
          h1 Exploring the Seats-Votes Curve
          p A historical primer on seat-votes curves and partisan bias, symmetry, and responsiveness, from 2000 - 2016.
          br
          h4 By Jeffrey Shen
        i.attr Image courtesy of <a href ="https://commons.wikimedia.org/wiki/File:United_States_Capitol_west_front_edit2.jpg">Wikipedia</a>
      #body
        #table-of-contents.section
          .center-left
            h1 Table of Contents
            ol 
              li 
                a(href = "#what") What is the Seats-Votes Curve? 
              li 
                a(href = "#methodology") Methodology
              li
                a(href = "#explore") Explore Seats-Votes Curves from 2000 - 2016
              li 
                a(href = "#historical-trends") Historical Trends in the Seats-Votes Curves 
              li 
                a(href = "#results") Results 
              li 
                a(href = "#data") Data and Sources
        .section#what
          h1 What is the Seats-Votes Curve? 
          p The seats-votes curve is a computer generated graph that plots the portion of seats a party will win for a certain vote share. The shape of the seats-votes curve provides information on the partisan characteristics of a particular state, such as how election outcomes are effected by changes in voting and whether elections are fair to both parties. In particular, there are three main statistics that can be derived from it: 
          br
          ol 
            li <i>Partisan Bias</i> (a.k.a, Gelman-King Bias): The difference between a party’s seat share at 50% of the vote and 50%. For example, if Republicans won 60% of the seats at 50% of the vote, the partisan bias would be 10%. The partisan bias calculated from the Republican curve should be the same as that calculated from the Democrat curve. Partisan bias is indicative of how much a districting plan favors one particular party, with 0% being the least biased, and 50% being the most biased. Intuitively, it makes sense that both parties should win 50% of the seats at 50% of the vote; After all, this is both proportional and symmetric. 
              br
              br
              | However, partisan bias only captures the characteristics of a seats-votes curve at the 50% vote share. Furthermore, since seats-votes curves are generated using computer algorithms—not real elections results—partisan bias is less accurate for non-competitive elections, where the vote share is far from 50%.  
            br
            div.graph-demonstration.hidden(id = "partisan-not-bias" data-height = "400" data-half = "true" data-caption = "A Seats-Votes Curve with Minimal Partisan Bias")
              .tooltip
              svg
            div.graph-demonstration.hidden(id = "partisan-bias" data-height = "400" data-half = "true" data-caption = "A Seats-Votes Curve with Significant Partisan Bias")
              .tooltip
              svg
            br
            li <i>Partisan Symmetry</i>: The average distance between the seats-votes curve of one party and that of the other party, over a range of vote shares (most commonly between 45% and 55% of the vote). It is widely agreed upon that both parties should receive the same percentage of seats at the same vote share in a "fair" districting plan. In other words, in a fair plan, Republicans can get 50% of the seats at 40% of the vote so long as Democrats also get 50% of the seats at 40% of the votes. Partisan symmetry measures how similar the seats-votes curve for Republicans is to the seats-votes curve for Democrats, thereby measuring the aforementioned standard. An ideal score would be 0%, meaning that the seats-votes curve for Republicans and Democrats are identical (symmetric) and the worse score is 50%.
            br
            div.graph-demonstration.hidden(id = "symmetric" data-height = "400" data-half = "true" data-caption = "A Symmetric Seats-Votes Curve")
              .tooltip
              svg
            div.graph-demonstration.hidden(id = "not-symmetric" data-height = "400" data-half = "true" data-caption = "An Asymmetric Seats-Votes Curve")
              .tooltip
              svg
            br 
            li <i>Responsiveness</i>: The average slope of the seats-votes curve, over a range of vote shares (most commonly between 45% and 55% of the vote). Unlike the previous two measures, there is no ideal responsiveness score; Rather, responsiveness describes how votes translate into seats in a state. A low responsiveness score (less than 1) would indicate an <i>incumbent protection gerrymander</i>, meaning that seat shares are unresponsive to changes in voting, and therefore the districting plan helps preserve the seats of incumbents, whether they be Democrat or Republican. A responsiveness score of approximately 1 would indicate a proportional districting plan, meaning a 1% vote increase translates into a 1% seat increase. A high responsiveness score (greater than 1) would indicate a heavy "winner-take-all" characteristic, meaning the majority party tends to win more seats than votes. Winner-take-all plans are characteristic of most American elections. Lastly, a responsiveness score around 2 would indicate a high level of compliance with the "Efficiency Gap" (EG), a recently developed measure of partisan gerrymandering that you can read about <a href = "https://www.brennancenter.org/sites/default/files/legal-work/How_the_Efficiency_Gap_Standard_Works.pdf" target = "_blank">here</a>.            
              br
              br
              | It's important to recognize that responsiveness does not favor one particular party; Low responsiveness protects incumbents of both parties (although there still may be a partisan bias, for example) and high responsiveness will always benefit the majority party. In this regard, responsiveness can be tweaked to benefit specific parties—say, a majority party wants to increase responsiveness to secure more seats—but there is no set standard for responsiveness.
            br
            div.graph-demonstration.hidden(id = "proportional" data-height = "400" data-half = "true" data-caption = "A Proportional Plan")
              .tooltip
              svg
            div.graph-demonstration.hidden(id = "incumbent-protection" data-height = "400" data-half = "true" data-caption = "An Incumbent Protection Gerrymander")
              .tooltip
              svg
            div.graph-demonstration.hidden(id = "winner-take-all" data-height = "400" data-half = "true" data-caption = "A Winner Take All Plan")
              .tooltip
              svg
            div.graph-demonstration.hidden(id = "eg-optimized" data-height = "400" data-half = "true" data-caption = "An EG Optimized Plan")
              .tooltip
              svg
        .section#methodology
          h1 Methodology
          h3 How I generate the seats-votes curve
          p The seats-votes curve is generated using mostly hypothetical, computer generated election results:
          br
          ol
            li Start with the actual voting result for the state. Say, Democrats won 50% of the vote but 60% of the seats in the states overall. Then, we could plot the point (50, 60) on the Democrat curve, and (50, 40) on the Republican curve. 
            br
            table
              tr
                th(bgcolor = "#bdc3c7") District
                th(bgcolor = "#bdc3c7") Votes for Democrats
                th(bgcolor = "#bdc3c7") Votes for Republicans
              tr
                td 1
                td(bgcolor = "#446CB3" style = "color:white;") 60
                td 40
              tr 
                td 2
                td(bgcolor = "#446CB3" style = "color:white;") 55
                td 45
              tr 
                td 3
                td(bgcolor = "#446CB3" style = "color:white;") 70
                td 30
              tr 
                td 4
                td 30
                td(bgcolor = "#D64541" style = "color:white;") 70
              tr 
                td 5
                td 35
                td(bgcolor = "#D64541" style = "color:white;") 65
              tr
                td(style = "font-style:italic;") Total
                td(style = "font-style:italic;") 250
                td(style = "font-style:italic;") 250
            div.graph-demonstration.hidden(id = "step-1" data-dots = "true" data-half = "true")
              .tooltip
              svg
            br
            br
            li Add endpoints. For every state, 0% of the vote for one party will always result in 0% of the seats, and 100% of the vote for one party will always result in 100% of the seats. Therefore, the points (0,0) and (100,100) can be added to both the Democrat and Republican curve.  
            div.graph-demonstration.hidden(id = "step-2" data-dots = "true")
              .tooltip
              svg
            br
            li Fill in the rest of the curve using an assumption known as <i>uniform partisan swing</i>, which assumes that each district is representative of the state as a whole (Clearly, this assumption is flawed, as districts are often not microcosms of states, but it is convenient for the purposes of generating a hypothetical seats-votes curve. The nature of this assumption means that seats-votes curves generally lose validity towards the extremes). Essentially, starting from the initial election results, add 1% of the vote share to one party, and decrease 1% of the vote share for the other party in each district. The change in vote share will eventually result in a change of seat shares state-wide, and the seat-votes curve will gradually be filled in from (0,0) to (100, 100) for both parties. 
            div.graph-demonstration.hidden(id = "step-3")
              .tooltip
              svg
            br
            li The resulting seats-votes curve will be a step function, as under the uniform partisan swing model, votes don't smoothly translate into seats; There will be plateaus, followed by a vertical jump / fall when a district changes party hands. In order to smooth the curve out, apply a 5% (as per the findings of <i>Gerrymandering in America</i>) variation to the voting results in each district. So, instead of adding 1% to each district, add 1% plus a random number between -5% and 5%. This variation should be simulated 1000 times for each vote level and averaged out, resulting in a smoother curve.
            div.graph-demonstration.hidden(id = "step-4")
              .tooltip
              svg
          br
          p Source code for the algorithm to generate seats-votes curves is available <a href = "https://github.com/jeffreyshen19/Seats-Votes-Curves/blob/master/generator/uniform_partisan_swing.py">here</a>.
          br
          h3 Assumptions Made / Special Notes
          ul 
            li Uncontested districts are treated as one party garnering 75% of the vote, and the other party garnering 25% of the vote. 
            li Under the uniform partisan swing algorithm described above it is possible for the vote share in a district to go over 100%, which is clearly unrealistic. The seats-votes curves generated below cap off the vote share in any district at 100%, with the excess being distributed evenly across the other districts.
            li Write-in candidates are not calculated for either party.
            li Third party candidates are not included in the calculations.
            li For Louisiana, where there can be more than one Democrat or Republican running in the general election, the number of votes for each party was tallied as the total number of votes cast for candidates of that party.
            li States with less than 5 districts have been excluded from the graphs below, as they lack a large enough sample size for an accurate curve.
            li Theoretically, the seat share for Republicans and Democrats at 50% of the vote should add up to 100%. However, with the seats-votes curves generated below, the seat shares don't always add up to exactly 100% due to factors such as computational inaccuracies (especially in highly uncompetitive elections), third party candidates, and other factors. 
        .section#explore
          h1 Explore Seats-Votes Curves from 2000-2016 
          .sidebar 
            p Select year: 
            select#year-selecter(onchange = "redrawCurves()")
              each year in years
                option(value = year)= year  
            br
            br
            p Select state: 
            select#select-state(onchange = "var selectBox = document.getElementById('select-state');drawCurve(selectBox.options[selectBox.selectedIndex].value)")
              each state in states 
                if state.numDistricts > 4
                  option(value = state.abbrev)= state.name
            br
            br
            p Toggle Efficiency Gap Band: 
            input#toggle-eg-band(type = "checkbox" onchange = "redrawCurves()")
            p
              i An ideal seats-votes curve, according to the efficiency gap, would fall within this band.
          .body
            each state in states
              if state.numDistricts > 4
                div.graph.hidden(id = state.abbrev data-state = state.name data-year = "2016" data-districts = state.numDistricts)
                  .tooltip.hidden
                  svg
        .section#historical-trends 
          h1 Historical Trends in the Seats-Votes Curves
          h3 Partisan bias over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical');drawHistoricalCurve('historical-gk-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value, 'gk')")
              option(value = "us") United States
              each state in states 
                if state.numDistricts > 4
                  option(value = state.abbrev)= state.name
          .body
            div.graph-historical-gk.hidden(id = "historical-gk-us" data-state = "United States" data-title = "Partisan Bias")
              .tooltip.hidden
              svg  
            each state in states
              if state.numDistricts > 4
                div.graph-historical-gk.hidden(id = "historical-gk-" + state.abbrev data-state = state.name data-title = "Partisan Bias")
                  .tooltip.hidden
                  svg  
          hr
          br
          h3 Partisan symmetry over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical-symmetry(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical-symmetry');drawHistoricalCurve('historical-symmetry-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value)")
              option(value = "us") United States
              each state in states 
                if state.numDistricts > 4
                  option(value = state.abbrev)= state.name
          .body
            div.graph-historical-symmetry.hidden(id = "historical-symmetry-us" data-state = "United States" data-title = "Partisan symmetry")
              .tooltip.hidden
              svg  
            each state in states
              if state.numDistricts > 4
                div.graph-historical-symmetry.hidden(id = "historical-symmetry-" + state.abbrev data-state = state.name data-title = "Partisan symmetry")
                  .tooltip.hidden
                  svg  
          hr
          br
          h3 Partisan responsiveness over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical-responsiveness(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical-responsiveness');drawHistoricalCurve('historical-responsiveness-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value)")
              option(value = "us") United States
              each state in states 
                if state.numDistricts > 4
                  option(value = state.abbrev)= state.name
          .body
            div.graph-historical-responsiveness.hidden(id = "historical-responsiveness-us" data-state = "United States" data-title = "Partisan responsiveness" data-responsiveness = "true")
              .tooltip.hidden
              svg  
            each state in states
              if state.numDistricts > 4
                div.graph-historical-responsiveness.hidden(id = "historical-responsiveness-" + state.abbrev data-state = state.name data-title = "Partisan responsiveness" data-responsiveness = "true")
                  .tooltip.hidden
                  svg  
        .section#results
          h1 Results
        .section#data         
          h1 Data and Sources
          h3 Datasets used
          p Election Results [csv]. (n.d.). Retrieved from https://transition.fec.gov/pubrec/<br>&emsp;&emsp;electionresults.shtml 
          br
          h3 Sources referenced
          p McGann, A. J., Smith, C. A., Latner, M., & Keenan, A. (2016). <i>Gerrymandering in <br>&emsp;&emsp;America: The House of Representatives, the Supreme Court, and the future of<br>&emsp;&emsp;popular sovereignty</i>. Cambridge: Cambridge University Press. 
          br
          p Petry, E. (n.d.). <i>How the Efficiency Gap Works</i>. Retrieved May 24, 2018, from<br>&emsp;&emsp;Brennan Center for Justice website: https://www.brennancenter.org/sites/<br>&emsp;&emsp;default/files/legal-work/How_the_Efficiency_Gap_Standard_Works.pdf 
          br
    script(src = "./bower_components/jquery/dist/jquery.min.js")
    script(src = "./bower_components/d3/d3.min.js")
    script(src = "./dist/script-min.js")
