doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "A historical examination of seat-votes curves and partisan bias, symmetry, and responsiveness, from 1980 - 2016.")
    meta(name = "author" content = "Jeffrey Shen")
    title Exploring the Seats-Votes Curve
    link(href='bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css' rel='stylesheet' type='text/css')
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    #wrapper 
      -var states = [{"name": "Alabama", "abbrev": "AL"},{"name": "Alaska", "abbrev": "AK"},{"name": "Arizona", "abbrev": "AZ"},{"name": "Arkansas", "abbrev": "AR"},{"name": "California", "abbrev": "CA"},{"name": "Colorado", "abbrev": "CO"},{"name": "Connecticut", "abbrev": "CT"},{"name": "Delaware", "abbrev": "DE"},{"name": "Florida", "abbrev": "FL"},{"name": "Georgia", "abbrev": "GA"},{"name": "Hawaii", "abbrev": "HI"},{"name": "Idaho", "abbrev": "ID"},{"name": "Illinois", "abbrev": "IL"},{"name": "Indiana", "abbrev": "IN"},{"name": "Iowa", "abbrev": "IA"},{"name": "Kansas", "abbrev": "KS"},{"name": "Kentucky", "abbrev": "KY"},{"name": "Louisiana", "abbrev": "LA"},{"name": "Maine", "abbrev": "ME"},{"name": "Maryland", "abbrev": "MD"},{"name": "Massachusetts", "abbrev": "MA"},{"name": "Michigan", "abbrev": "MI"},{"name": "Minnesota", "abbrev": "MN"},{"name": "Mississippi", "abbrev": "MS"},{"name": "Missouri", "abbrev": "MO"},{"name": "Montana", "abbrev": "MT"},{"name": "Nebraska", "abbrev": "NE"},{"name": "Nevada", "abbrev": "NV"},{"name": "New Hampshire", "abbrev": "NH"},{"name": "New Jersey", "abbrev": "NJ"},{"name": "New Mexico", "abbrev": "NM"},{"name": "New York", "abbrev": "NY"},{"name": "North Carolina", "abbrev": "NC"},{"name": "North Dakota", "abbrev": "ND"},{"name": "Ohio", "abbrev": "OH"},{"name": "Oklahoma", "abbrev": "OK"},{"name": "Oregon", "abbrev": "OR"},{"name": "Pennsylvania", "abbrev": "PA"},{"name": "Rhode Island", "abbrev": "RI"},{"name": "South Carolina", "abbrev": "SC"},{"name": "South Dakota", "abbrev": "SD"},{"name": "Tennessee", "abbrev": "TN"},{"name": "Texas", "abbrev": "TX"},{"name": "Utah", "abbrev": "UT"},{"name": "Vermont", "abbrev": "VT"},{"name": "Virginia", "abbrev": "VA"},{"name": "Washington", "abbrev": "WA"},{"name": "West Virginia", "abbrev": "WV"},{"name": "Wisconsin", "abbrev": "WI"},{"name": "Wyoming", "abbrev": "WY"}]
      -var years = ["2016","2014","2012","2010","2008","2006","2004","2002","2000"]

      header
        .overlay
        center 
          h1 Exploring the Seats-Votes Curve
          p A historical examination of seat-votes curves and partisan bias, symmetry, and responsiveness, from 1980 - 2016.
          br
          h4 By <a href = "http://jeffreyshen.com">Jeffrey Shen</a>
      #body
        br
        i.attr Image source: https://commons.wikimedia.org/wiki/File:United_States_Capitol_west_front_edit2.jpg

        #table-of-contents.section
          .center-left
            h1 Table of Contents
            ol 
              li 
                a(href = "#what") What is the Seats-Votes Curve? 
              li 
                a(href = "#methodology") Methodology
              li
                a(href = "#explore") Explore Seats-Votes Curves from 1980 - 2016
              li 
                a(href = "#historical-trends") Historical Trends in the Seats-Votes Curves 
              li 
                a Results 
              li 
                a Data and Sources
        .section#what
          h1 What is the Seats-Votes Curve? 
          p ADD TEXT HERE
        .section#methodology
          h1 Methodology
          p ADD TEXT HERE
        .section#explore
          h1 Explore Seats-Votes Curves from 1980-2016 
          .sidebar 
            p Select year: 
            select#year-selecter(onchange = "redrawCurves()")
              each year in years
                option(value = year)= year  
            br
            br
            p Select state: 
            select#select-state(onchange = "var selectBox = document.getElementById('select-state');drawCurve(selectBox.options[selectBox.selectedIndex].value)")
              each state in states 
                option(value = state.abbrev)= state.name
            br
            br
            p Toggle Efficiency Gap Band: 
            input#toggle-eg-band(type = "checkbox" onchange = "redrawCurves()")

          .body
            each state in states
              div.graph.hidden(id = state.abbrev data-state = state.name data-year = "2016")
                svg   
        .section#historical-trends 
          h1 Historical Trends in the Seats-Votes Curves
          h3 Partisan bias over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical');drawHistoricalCurve('historical-gk-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value, 'gk')")
              each state in states 
                option(value = state.abbrev)= state.name
          .body
            each state in states
              div.graph-historical-gk.hidden(id = "historical-gk-" + state.abbrev data-state = state.name data-title = "Partisan Bias")
                svg  
          hr
          br
          h3 Partisan symmetry over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical-symmetry(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical-symmetry');drawHistoricalCurve('historical-symmetry-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value)")
              each state in states 
                option(value = state.abbrev)= state.name
          .body
            each state in states
              div.graph-historical-symmetry.hidden(id = "historical-symmetry-" + state.abbrev data-state = state.name data-title = "Partisan symmetry")
                svg  
          hr
          br
          h3 Partisan responsiveness over time: 
          .sidebar 
            br
            p Select state: 
            select#select-state-historical-responsiveness(onchange = "var selectBoxHistorical = document.getElementById('select-state-historical-responsiveness');drawHistoricalCurve('historical-responsiveness-' + selectBoxHistorical.options[selectBoxHistorical.selectedIndex].value)")
              each state in states 
                option(value = state.abbrev)= state.name
          .body
            each state in states
              div.graph-historical-responsiveness.hidden(id = "historical-responsiveness-" + state.abbrev data-state = state.name data-title = "Partisan responsiveness")
                svg  
    script(src = "./bower_components/jquery/dist/jquery.min.js")
    script(src = "./bower_components/d3/d3.min.js")
    script(src = "./dist/script-min.js")
